.games-container {
  max-width: 65rem;
  margin: 0 auto;
  padding: 1rem;
  }

.games-subheading {
  border-bottom: 1px solid $c-app-borders;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin: -1rem;
  }

.game-item {
  display: flex;
  flex-basis: calc(100% / 5 - 2rem);
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem;

  &__pic {
    width: 10rem;
    // height: 15rem;
  }

  &__name {
    margin: 0;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    text-transform: uppercase;
    }

  &__popularity {
    margin: 0;
    color: $c-app-buttons;
    font-size: 0.7rem;
    font-weight: 400;
  }
}
